* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  font-family: sans-serif;
  font-family: "Rubik", sans-serif;
  color: white;
  
}

.main::before {
  width: 188px;
  height: 498px;
  border-radius: 0 0 255px 0;
  background-color:#6e5d7e ;
  background-image: linear-gradient(#e844ff, #873aff);
}
.movile {
  width: 247px;
  height: 505px;
  background-color: #f5f3f7;
  border: 10px solid white;
  border-radius: 30px;
  box-shadow: 0 10px 20px grey;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 228px;
  height: 66px;
  background-image: linear-gradient(#e844ff, #873aff);
  border-radius: 20px 20px 8px 8px;
}
.header::after {
  position: absolute;
  content: '';
width: 129px;
height: 29px;
border-radius: 0 0 14px 14px;
background-color: white;
margin-top: -50px;
}
.profile-arrow {
  width: 4px;
  height: 10px;
}
.avatar {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 50%;
}
.menu {
  margin-left: auto;
}
.user-name {
  font-size: 0.6875rem;
  font-weight: 500;
  margin: 0;
}
.state {
  font-size: 0.5rem;
  font-weight: 400;
  margin: 0;
  color: #d99eff;
}
.header-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 8px;
  width: 196px;
  height: 24px;
}
.profile-info {
  display: flex;
  flex-direction: column;
}
.msg-1 {
  display: flex;
  align-items: center;
  margin: 11px 0 0 8px;
  padding: 6px 8px;
  border-radius: 10px 10px 10px 4px;
  width: 128px;
  height: 34px;
  background-color: #eee5f4;
}
.text-1,
.text-2,
.text-6 {
  font-size: 8px;
  font-weight: 400;
  color: #9341c8;
}
.text-4,
.text-5 {
  font-size: 8px;
  font-weight: 400;
  color: #6e5d7e;
}
.msg-2 {
  display: flex;
  align-items: center;
  margin: 8px 0 0 8px;
  padding: 6px 8px;
  border-radius: 10px 10px 10px 4px;
  width: 128px;
  height: 34px;
  background-color: #eee5f4;
}
.msg-photo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 8px;
  margin-right: 8px;
}
.msg-dog {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.dog-1,
.dog-2,
.dog-3 {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.msg-4-full {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 8px;
}

.msg-4 {
  display: flex;
  align-items: center;
  margin: 8px 0 0 8px;
  padding: 6px 8px;
  border-radius: 10px 10px 4px 10px;
  width: 128px;
  height: 34px;
  background-color: white;
}
.msg-5 {
  display: flex;
  align-items: center;
  margin: 8px 0 0 8px;
  padding: 6px 8px;
  border-radius: 10px 10px 4px 10px;
  background-color: white;
  width: 80px;
  height: 23px;
}
.msg-6 {
  display: flex;
  align-items: center;
  margin: 8px 0 0 8px;
  padding: 6px 8px;
  border-radius: 10px 10px 10px 4px;
  width: 128px;
  height: 45px;
  background-color: #eee5f4;
}

.price-1,
.price-2 {
  display: flex;
  align-items: center;
  width: 160px;
  height: 32px;
  border-radius: 10px 10px 10px 4px;
  margin: 8px 0 0 8px;
  background-image: linear-gradient(#e844ff, #873aff);
  padding: 10px;
}
.price-info,
.price-info-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 160px;
  gap: 8px;
}
.text-price-1,
.text-price-2 {
  font-size: 0.5rem;
}
.first-price,
.second-price {
  margin-left: auto;
  font-weight: 500;
}

.search {
  width: 213px;
  height: 34px;
  margin-top: 16px;
  margin-left: 8px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 1px 5px #979797;
}
.search-info {
  width: 213px;
  height: 34px;
  display: flex;
  align-items: center;
  gap: 8px;

}
.search-name {
  font-size: 0.5rem;
  color: #c5c9cc;
  margin-left: 20px;
}
.enter-icon {
  margin-left: auto;
}
.information {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 1.875rem;
  font-weight: 500;
  margin-top: 64px;
  color: black;
}
.text-booking {
  text-align: center;
  font-size: 16px;
  color: #a39da9;
  margin-bottom: 64px;
  margin-top: 0;
} 
